.login_btn:hover,
.login_btn:focus,
.btn--sort:hover,
.btn--sort:focus {
    outline: none;
    color: #777;
}


/* MAIN */

.app {
    position: relative;
    max-width: 100rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;
    /* NOTE this creates the fade in/out anumation */
    /* opacity: 0; */
    transition: all 1s;
}

.balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-items: space-between;
    margin-bottom: 2rem;
}